on: [push]

name: Build

jobs:
  build:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - uses: actions/upload-artifact@v4
        with:
          name: deadnix
          path: target/release/deadnix

  build_nix:
    name: Build with Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v13
        with:
          name: deadnix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: List flake structure
        run: nix flake show
      - run: nix flake check -vL
