on: [push]

name: Build

jobs:
  build:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Rust toolchain
        run: |
          rustup update stable
          rustup default stable
      - name: Build
        run: |
          cargo build --release
      - uses: actions/upload-artifact@v4
        with:
          name: deadnix
          path: target/release/deadnix

  build_nix:
    name: Build with Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: deadnix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: List flake structure
        run: nix flake show
      - run: nix flake check -vL
