on: [push, pull_request]

name: Continuous integration

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Rust toolchain
        run: |
          rustup update stable
          rustup default stable
      - name: Check
        run: |
          cargo check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Rust toolchain
        run: |
          rustup update stable
          rustup default stable
      - name: Test
        run: |
          cargo test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Rust toolchain
        run: |
          rustup update stable
          rustup default stable
          rustup component add clippy
      - name: Run Clippy
        run: |
          cargo clippy -- -D warnings -A clippy::nonminimal_bool
